<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ORGO - Board</title>
        <!-- fontawesome -->
		<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/board.css" />
        <link rel="stylesheet" href="/src/assets/css/postlist.css" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.png" alt="ORGO">
                    </a>
                </h1>
                <div class="header-search">
                    <form action="/src/view/search.html" method="get">
                        <input class='header-search__text' placeholder="제목, 사람을 검색하세요" ,type="text" , name="query" , required>
                        <button class='header-search__btn' type='submit'>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <ul class="navbar__menu">
                    <li class="always_show">
                        <a href="/src/view/board.html">BOARD</a>
                    </li>
                    <li class="always_show">
                        <a href="/src/view/study.html">STUDY</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/login.html">LOGIN</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/join.html">JOIN</a>
                    </li>
                    <li class="is_logined">
                        <a class="logout_btn" href="#">LOGOUT</a>
                    </li>
                    <li class="is_logined toggle_parent">
                        <div class="notify_count">
                            0
                        </div>
                        <a class="avatar_img_li">
                            <img src="/src/assets/img/profile_temp.png" class="avatar_img" alt="프로필">
                        </a>
                        <ul class="toggle_menu hidden">
                            <li class="toggle_list">
                                <a href="/src/view/notify.html">알림</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/profile.html">내 프로필</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/chat.html">메시지</a>
                            </li>
                            <div class="line"></div>
                            <li class="toggle_list account_info">
                                <a href="/src/view/account.html">내 정보</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- main -->
        <main>
            <section class="board_header">
                <div class="section_title">
                    <p>Board</p>
                </div>
                <div class="board_ad">
                    <div class="board_ad_text">
                        <p>🕊️ 여러분의 일상을 공유해주세요!</p>
                        <p>🤗행복은 나누면 배가 되고, 😭슬픔은 나누면 반이 된데요</p>
                    </div>
                </div>
            </section>
            <section class="board">
                <div class="board_section">
                    <div class="post-write">
                        <div class="post_writer_img">
                            <img src="/src/assets/img/profile_temp.png" alt="profile">
                        </div>
                        <a href="/src/view/write.html">
                            <input type="text" placeholder="공유하고싶은 이야기가 있으신가요?">
                        </a>
                    </div>
                    <div class="post_list">
                    </div>
                </div>
                <aside class="board_side">
                    <p class="side_title">인기 게시물</p>
                </aside>
            </section>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="footer_wrap">
                <img src="/src/assets/img/logo.png" alt="ORGO">
                <div class="footer_content">
                    <p>Ormi 교육생들을 위한 커뮤니티 입니다.</p>
                    <p>Copyright 2023. Chilli All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script src="/src/assets/js/header.js" type="module"></script>
        <script src="/src/assets/js/board.js" type="module"></script>
        <!-- <script src="/src/assets/js/puserpro.js" type="module"></script> -->
    </body>
</html>
