<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ORGO - 스터디 등록</title>
        <!-- fontawesome -->
		<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/create.css" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.png" alt="ORGO">
                    </a>
                </h1>
                <div class="header-search">
                    <form action="/src/view/search.html" method="get">
                        <input class='header-search__text' placeholder="제목, 사람을 검색하세요" ,type="text" , name="query" , required>
                        <button class='header-search__btn' type='submit'>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <ul class="navbar__menu">
                    <li class="always_show">
                        <a href="/src/view/board.html">BOARD</a>
                    </li>
                    <li class="always_show">
                        <a href="/src/view/study.html">STUDY</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/login.html">LOGIN</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/join.html">JOIN</a>
                    </li>
                    <li class="is_logined">
                        <a class="logout_btn" href="#">LOGOUT</a>
                    </li>
                    <li class="is_logined toggle_parent">
                        <div class="notify_count">
                            0
                        </div>
                        <a class="avatar_img_li">
                            <img src="/src/assets/img/profile_temp.png" class="avatar_img" alt="프로필">
                        </a>
                        <ul class="toggle_menu hidden">
                            <li class="toggle_list">
                                <a href="/src/view/notify.html">알림</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/profile.html">내 프로필</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/chat.html">메시지</a>
                            </li>
                            <div class="line"></div>
                            <li class="toggle_list account_info">
                                <a href="/src/view/account.html">내 정보</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- main -->
        <main>
            <section class="create-section">
                <h2>1️⃣ 스터디의 기본 정보를 입력해주세요.</h2>
                <div class="study_info">
                    <div>
                        <label for="start_date">시작일</label>
                        <input type="date" id="start_date">
                    </div>
                    <div>
                        <label for="end_date">종료일</label>
                        <input type="date" name="end_date" id="end_date">
                    </div>
                    <div>
                        <label for="division">온/오프라인</label>
                        <select name="division" id="division">
                            <option value="ON" selected>온라인</option>
                            <option value="OFF">오프라인</option>
                        </select>
                    </div>
                    <div>
                        <label for="location">장소</label>
                        <input type="text" id="location" placeholder=" Discord, Zoom , 오프라인 주소 ">
                    </div>
                    <div>
                        <label for="status">현재 상태</label>
                        <select name="status" id="status">
                            <option value="모집중" selected>모집중</option>
                            <option value="진행중">진행중</option>
                            <option value="종료">종료</option>
                        </select>
                    </div>
                    <div>
                        <label for="max">최대 인원</label>
                        <input type="number" id="max" min="1" value="1">
                    </div>
                </div>
                <h2>2️⃣ 스터디를 소개해주세요</h2>
                <div class="study_description">
                    <div>
                        <label for="title">제목</label>
                        <input type="text" id="title" placeholder="스터디의 제목을 입력해주세요!">
                    </div>
                    <div>
                        <label for="tag">태그</label>
                        <input type="text" id="tag" placeholder="태그를 입력하세요. 쉼표를 기준으로 생성됩니다. ex) 파이썬,장고,백엔드">
                    </div>
                    <div>
                        <label for="content">스터디 설명</label>
                        <textarea type="text" id="content" placeholder="스터디에 대한 설명을 작성해주세요!"></textarea>
                    </div>
                </div>
                <div class="study_create"><button>스터디 등록</button></div>
            </section>
        </main>
        <!-- // main -->
        <script src="/src/assets/js/auth.js" type="module"></script>
        <script src="/src/assets/js/header.js" type="module"></script>
        <script src="/src/assets/js/create.js" type="module"></script>
    </body>

</html>
