<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ORGO - 회원가입</title>
        <!-- fontawesome -->
		<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/join.css" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.png" alt="ORGO">
                    </a>
                </h1>
            </nav>
        </header>
        <!-- main -->
        <main>
            <form class="user-join" method="post">
                <h2>JOIN</h2>
                <div class="join_input_wrap">
                    <input class="user-join__email" name="email" type="email" placeholder="이메일 입력">
                    <button class="user-join__otp_generate" name="otp_generate" type="button">인증번호 전송</button>
                    <input class="user-join__otp" name="otp" type="text" placeholder="인증번호 입력">
                    <input class="user-join__password" name="password" type="password" placeholder="비밀번호 입력">
                    <input class="user-join__password_valid" name="password" type="password" placeholder="비밀번호 확인">
                </div>
                <input class="join_btn" type="submit" disabled value="회원가입">
            </form>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="footer_wrap">
                <img src="/src/assets/img/logo.png" alt="ORGO">
                <div class="footer_content">
                    <p>Ormi 교육생들을 위한 커뮤니티 입니다.</p>
                    <p>Copyright 2023. Chilli All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script src="/src/assets/js/join.js" type="module"></script>
    </body>
</html>