<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ORGO - 프로필</title>
        <!-- fontawesome -->
		<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/profile.css" />
        <link rel="stylesheet" href="/src/assets/css/postlist.css" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.png" alt="ORGO">
                    </a>
                </h1>
                <div class="header-search">
                    <form action="/src/view/search.html" method="get">
                        <input class='header-search__text' placeholder="제목, 사람을 검색하세요" ,type="text" , name="query" , required>
                        <button class='header-search__btn' type='submit'>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <ul class="navbar__menu">
                    <li class="always_show">
                        <a href="/src/view/board.html">BOARD</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/login.html">LOGIN</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/join.html">JOIN</a>
                    </li>
                    <li class="is_logined">
                        <a class="logout_btn" href="#">LOGOUT</a>
                    </li>
                    <li class="is_logined toggle_parent">
                        <div class="notify_count">
                            0
                        </div>
                        <a class="avatar_img_li">
                            <img src="/src/assets/img/profile_temp.png" class="avatar_img" alt="프로필">
                        </a>
                        <ul class="toggle_menu hidden">
                            <li class="toggle_list">
                                <a href="/src/view/notify.html">알림</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/profile.html">내 프로필</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/chat.html">메시지</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- main -->
        <main>
            <section class="profile_section">
                <div class="user-image">
                    <img class="user-profile-img" src="/src/assets/img/profile_temp.png" alt="프로필">
                </div>
                <div class="post-image-div">
                    <label for="img-input"><p>프로필 이미지</p><i class="fa-regular fa-image"></i></label>
                    <input class="image-input" id="img-input" name="img-input" accept="image/gif,image/jpeg,image/png" type="file">
                </div>
                <div class="user-info">
                    <input class="user-name" type="text" value="유저 네임" placeholder="닉네임을 적어주세요."></input>
                    <input class="user-about" type="text" value="유저 인사말" placeholder="자신을 소개해주세요."></input>
                </div>
                <div class="user-follow">
                    <p class="user-posts">게시물 2</p>
                    <p class="user-follower">팔로워 0</p>
                    <p class="user-following">팔로잉 0</p>
                </div>
                <button class="user-profile-save">저장</button>
            </section>
            <section class="post_seciton">
                <div class="my_related">
                    <a class="related clicked" href="#">게시물</a>
                    <a class="related" href="#">팔로워</a>
                    <a class="related" href="#">팔로잉</a>
                </div>
                <div class="choice_post">
                    <p class="choice_title">내 게시물</p>
                    <div class="post_list">
                    </div>
                </div>
                <div class="choice_follower hidden">
                    <p class="choice_title">팔로워</p>
                    <div class="follower_list">
                    </div>
                </div>
                <div class="choice_following hidden">
                    <p class="choice_title">팔로잉</p>
                    <div class="following_list">
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer_wrap">
                <img src="/src/assets/img/logo.png" alt="ORGO">
                <div class="footer_content">
                    <p>Ormi 교육생들을 위한 커뮤니티 입니다.</p>
                    <p>Copyright 2023. Chilli All rights reserved.</p>
                </div>
            </div>
        </footer>
        <!-- // main -->
        <script src="/src/assets/js/auth.js" type="module"></script>
        <script src="/src/assets/js/header.js" type="module"></script>
        <script src="/src/assets/js/profile.js" type="module"></script>
    </body>
</html>
