<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ORGO</title>
        <!-- fontawesome -->
		<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/studyView.css" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.png" alt="ORGO">
                    </a>
                </h1>
                <div class="header-search">
                    <form action="/src/view/search.html" method="get">
                        <input class='header-search__text' placeholder="제목, 사람을 검색하세요" ,type="text" , name="query" , required>
                        <button class='header-search__btn' type='submit'>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <ul class="navbar__menu">
                    <li class="always_show">
                        <a href="/src/view/board.html">BOARD</a>
                    </li>
                    <li class="always_show">
                        <a href="/src/view/study.html">STUDY</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/login.html">LOGIN</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/join.html">JOIN</a>
                    </li>
                    <li class="is_logined">
                        <a class="logout_btn" href="#">LOGOUT</a>
                    </li>
                    <li class="is_logined toggle_parent">
                        <div class="notify_count">
                            0
                        </div>
                        <a class="avatar_img_li">
                            <img src="/src/assets/img/profile_temp.png" class="avatar_img" alt="프로필">
                        </a>
                        <ul class="toggle_menu hidden">
                            <li class="toggle_list">
                                <a href="/src/view/notify.html">알림</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/profile.html">내 프로필</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/chat.html">메시지</a>
                            </li>
                            <div class="line"></div>
                            <li class="toggle_list account_info">
                                <a href="/src/view/account.html">내 정보</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- main -->
        <main>
            <section class="study_view">
                <h2 class="study_title">파이썬 장고 스터디 모임 같이 하실분! 주니어 개발자도 환영합니다!</h2>
                <div class="study_author">
                    <div class="study_leader">
                        <img src="/src/assets/img/profile_temp.png" alt="">
                        <p>leader</p>
                    </div>
                    <p class="study_createdAt">2023.08.27</p>
                    <div class="study_edit">
                        <button>수정</button>
                    </div>
                    <div class="study_delete">
                        <button>삭제</button>
                    </div>
                </div>
                <div class="study_infos">
                    <div class="study_info">
                        <p class="study_subtitle">모집 구분</p>
                        <p class="study_proceed">스터디</p>
                    </div>
                    <div class="study_info">
                        <p class="study_subtitle">진행 방식</p>
                        <p class="study_proceed">온라인</p>
                    </div>
                    <div class="study_info">
                        <p class="study_subtitle">스터디 일정</p>
                        <p class="study_date">0000-00-00 ~ 0000-00-00</p>
                    </div>
                    <div class="study_info">
                        <p class="study_subtitle">스터디 인원</p>
                        <p class="study_participants">0 / 0</p>
                    </div>
                    <div class="study_info">
                        <p class="study_subtitle">스터디 장소</p>
                        <p class="study_location">장소</p>
                    </div>
                    <div class="study_info">
                        <p class="study_subtitle">현재 상태</p>
                        <p class="study_status">진행중</p>
                    </div>
                </div>
                <div class="study_tags">
                </div>
                <div class="study_attend_btns">
                    <button class="study_join">참가 신청</button>
                    <button class="study_cancle">참가 취소</button>
                </div>
                <h3 class="study_sub">우리 스터디원들을 소개합니다.</h3>
                <div class="study_in_people">
                </div>
                <h3 class="study_sub">우리 스터디를 소개합니다.</h3>
                <p class="study_desc">스터디 소개</p>
                <div class="loading"><div class="spinner"></div></div>
            </section>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="footer_wrap">
                <img src="/src/assets/img/logo.png" alt="ORGO">
                <div class="footer_content">
                    <p>Ormi 교육생들을 위한 커뮤니티 입니다.</p>
                    <p>Copyright 2023. Chilli All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script src="/src/assets/js/header.js" type="module"></script>
        <script src="/src/assets/js/studyView.js" type="module"></script>
    </body>
</html>
