<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ORGO</title>
        <!-- fontawesome -->
		<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/view.css" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.png" alt="ORGO">
                    </a>
                </h1>
                <div class="header-search">
                    <form action="/src/view/search.html" method="get">
                        <input class='header-search__text' placeholder="제목, 사람을 검색하세요" ,type="text" , name="query" , required>
                        <button class='header-search__btn' type='submit'>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <ul class="navbar__menu">
                    <li class="always_show">
                        <a href="/src/view/board.html">BOARD</a>
                    </li>
                    <li class="always_show">
                        <a href="/src/view/study.html">STUDY</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/login.html">LOGIN</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/join.html">JOIN</a>
                    </li>
                    <li class="is_logined">
                        <a class="logout_btn" href="#">LOGOUT</a>
                    </li>
                    <li class="is_logined toggle_parent">
                        <div class="notify_count">
                            0
                        </div>
                        <a class="avatar_img_li">
                            <img src="/src/assets/img/profile_temp.png" class="avatar_img" alt="프로필">
                        </a>
                        <ul class="toggle_menu hidden">
                            <li class="toggle_list">
                                <a href="/src/view/notify.html">알림</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/profile.html">내 프로필</a>
                            </li>
                            <li class="toggle_list">
                                <a href="/src/view/chat.html">메시지</a>
                            </li>
                            <div class="line"></div>
                            <li class="toggle_list account_info">
                                <a href="/src/view/account.html">내 정보</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- main -->
        <main>
            <section class="detail_view">
                <div class="view_section">
                    <div class="view">
                        <div class="post_owner">
                            <div class="post_owner_img">
                                <img src="/src/assets/img/profile_temp.png" alt="profile">
                            </div>
                            <div class="post_owner_info">
                                <p class="post_owner_nickname"></p>
                                <p class="post_owner_about"></p>
                            </div>
                            <div class="post_owner_follow">
                                <button>Follow</button>
                            </div>
                        </div>
                        <div class="post_content">
                            <h2></h2>
                            <p></p>
                            <div class="post_img">
                                <div class="post_img_box"></div>
                            </div>
                        </div>
                        <div class="post_createdat">
                            <p></p>
                        </div>
                        <div class="post_reaction_info">
                            <div class="reaction_info_div">
                                <i class="fa-regular fa-heart like_icon"></i>
                                <p>좋아요</p>
                                <p class="like_count">0</p>
                                <i class="fa-regular fa-comment-dots comments_icon"></i>
                                <p>댓글</p>
                                <p class="comments_count">0</p>
                            </div>
                            <div class="reaction_info_div">
                                <p>조회</p>
                                <p class="view_count">0</p>
                            </div>
                        </div>
                        <div class="post_edit hidden">
                            <button>수정</button>
                        </div>
                        <div class="post_delete hidden">
                            <button>삭제</button>
                        </div>
                    </div>
                    <p class="comment-title">댓글</p>
                    <div class="comment-section">
                        <div class="comment-write">
                            <div class="comment_writer_img">
                                <img src="/src/assets/img/profile_temp.png" alt="profile">
                            </div>
                            <input type="text" placeholder="댓글을 입력하세요">
                            <button class="comment-write-btn">등록</button>
                        </div>
                        <div class="comment-list">
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="footer_wrap">
                <img src="/src/assets/img/logo.png" alt="ORGO">
                <div class="footer_content">
                    <p>Ormi 교육생들을 위한 커뮤니티 입니다.</p>
                    <p>Copyright 2023. Chilli All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script src="/src/assets/js/header.js" type="module"></script>
        <script src="/src/assets/js/view.js" type="module"></script>
    </body>
</html>
