main {
    background-color: rgba(243, 243, 243, 0.863);
    padding-top: 115px;
    padding-bottom: 50px;
}

.board {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    min-height: 80vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.section_title {
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(226, 226, 226);
    height: 40px;
}

.section_title p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(71, 71, 71);
    margin-left: 275px;
}

.section_title a {
    margin-right: 275px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(90, 90, 90);
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    border: 1px solid rgb(182, 182, 182);
    cursor: pointer;
    text-decoration: none;
}

.section_title a:hover {
    color: white;
    background-color: black;
}

.board_ad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
    background-color: rgb(123, 196, 41);
    margin-bottom: 30px;
    color: white;
}

.board_ad_text p:first-child {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}

.board_ad_text p:last-child {
    font-weight: bold;
}

.board_side {
    width: 300px;
    height: 430px;
    border: 1px solid rgb(182, 182, 182);
    background-color: white;
    padding: 20px;
    right: 200px;
}

.side_title {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.side_post {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.side_post p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    color: var(--maincolor);
}

.side_post a {
    width: 240px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}

.post-write {
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid rgb(182, 182, 182);
    margin-bottom: 20px;
}

.post_writer_img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-write input {
    border: none;
    height: 25px;
    padding: 10px 10px 15px 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    width: 680px;
    font-size: 14px;
    cursor: pointer;
}