main {
    background-color: rgba(243, 243, 243, 0.863);
    padding-top: 135px;
    padding-bottom: 50px;
}

.board {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    min-height: 80vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.board_side {
    width: 350px;
    height: 720px;
    background-color: rgb(3, 80, 0);
}

.post-write {
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid rgb(182, 182, 182);
    margin-bottom: 20px;
}

.post_writer_img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-write input {
    border: none;
    height: 25px;
    padding: 10px 10px 15px 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    width: 680px;
    font-size: 14px;
    cursor: pointer;
}