main {
    background-color: rgba(243, 243, 243, 0.863);
    padding-top: 71px;
}

.chat-section {
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    min-height: 92.1vh;
    border: 1px solid rgb(226, 226, 226);
}

.chat-list {
    width: 45%;
    border-right: 1px solid rgb(226, 226, 226);
}

.chat-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.chat-list-header p {
    font-size: 18px;
    font-weight: bold;
}

.chat-list-header button {
    background: none;
    border: none;
    cursor: pointer;
}

.chat-list-header button i {
    font-size: 18px;
}

.chat-list-search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 24px 18px 24px;
    border-bottom: 1px solid rgb(241, 241, 241);
}

.chat-list-search input {
    width: 90%;
    height: 20px;
    border-radius: 20px;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid rgb(226, 226, 226);
}

.chat-list-search button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 30px;
}

.chat-list-search button i {
    font-size: 16px;
}

.chat-room-list {
    overflow-y: auto;
    height: 680px;
    padding-bottom: 20px;
}

.chat-room-list::-webkit-scrollbar {
    width: 10px;
}
.chat-room-list::-webkit-scrollbar-thumb {
    background-color: #011541;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.chat-room-list::-webkit-scrollbar-track {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.room_div.hidden {
    display: none;
}

.room_div {
    display: flex;
    padding: 10px 10px 10px 30px;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.5);
    height: 70px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(236, 236, 236);
    cursor: pointer;
    position: relative;
}
.room_img {
    margin-right: 10px;
}

.room_img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.room_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room_info p:first-child {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display:-webkit-box; 
    word-wrap:break-word; 
    -webkit-line-clamp:1; 
    -webkit-box-orient:vertical; 
    overflow:hidden; 
    text-overflow:ellipsis; 
    width: 250px;
}

.room_info p:last-child {
    font-size: 16px;
    line-height: 24px;
}

.room_more {
    position: absolute;
    right: 10px;
}

.room_more_btn {
    background: none;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.room_more_btn:hover {
    background-color: rgb(236, 236, 236);
}

.room_more_btn i {
    font-size: 18px;
}

.room_menu {
    position: absolute;
    background: white;
    border: 1px solid rgb(230, 230, 230);
    width: 150px;
    right: 10px;
    padding: 10px;
    z-index: 1;
    cursor:auto;
}

.black_user,
.room_leave,
.room_delete {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}

.chat-room {
    width: 55%;
    position: relative;
}

.chat-room-header {
    display: flex;
    align-items: center;
    padding: 20px 24px 20px 24px;
    position: static;
    background-color: white;
    border-bottom: 1px solid rgb(241, 241, 241);
}
.chat-room-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-room-header p {
    font-size: 20px;
    font-weight: bold;
    display:-webkit-box; 
    word-wrap:break-word; 
    -webkit-line-clamp:1; 
    -webkit-box-orient:vertical; 
    overflow:hidden; 
    text-overflow:ellipsis; 
    width: 350px;
}

.chat-message-section {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 10px;
}

.message-input {
    width: 82%;
    height: 100px;
    resize: none;
    border-radius: 20px;
    border: 1px solid rgb(207, 207, 207);
    padding: 16px 35px 16px 16px;
    font-size: 15px;
}

.message-input-box button {
    position: absolute;
    right: 24px;
    bottom: 23px;
    background: none;
    border: none;
    cursor: pointer;
}

.message-input-box button i {
    font-size: 24px;
    color: rgb(116, 116, 116);
}

.message-input-box button i:hover {
    color: black
}

.chat-message-list {
    height: 580px;
    padding: 10px 20px 10px 20px;
    overflow-y: auto;
}

.chat-message-list::-webkit-scrollbar {
    width: 10px;
}
.chat-message-list::-webkit-scrollbar-thumb {
    background-color: #011541;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.chat-message-list::-webkit-scrollbar-track {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.message-day {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: rgb(95, 95, 95);
}

.get-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    width: auto;
}

.get-message img {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 10px;
}

.send-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    width: auto;
}

.get-message .message-bubble {
    border-top-left-radius: 0px;
}

.send-message  .message-bubble {
    border-bottom-right-radius: 0px;
    color: black;
    background-color: rgb(235, 246, 255);
}

.message-bubble {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    padding: 10px;
}

.message-writer {
    font-size: 16px;
    color: rgb(119, 119, 119);
    margin-bottom: 4px;
}

.message-time {
    margin-top: 5px;
    color: rgb(167, 167, 167);
    font-size: 11px;
}

.hidden {
    display: none;
}

.chat-wait {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wait-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.wait-div i {
    font-size: 80px;
    margin-bottom: 40px;
}

.wait-div p {
    font-size: 20px;
    font-weight: bold;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal.hidden {
    display: none;
}

.modalContent {
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    padding: 15px;
}

.modal_close {
    position: absolute;
    right: 8px;
    top: 10px;
    background-color: var(--maincolor);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 3px 2px 3px;
    width: 23px;
    cursor: pointer;
}

.myName {
    display: block;
    width: 100%;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
}
.my_related {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.related {
    display: block;
    width: 50%;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    color: rgb(158, 158, 158);
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.my_related .clicked {
    color: black;
    border-bottom: 2px solid black;
}

.study_list,
.black_list,
.following_list {
    overflow-y: auto;
    height: 400px;
}

.studychat,
.blackuser,
.follow {
    position: relative;
    height: 35px;
    display: flex;
    padding: 15px;
    margin-bottom: 20px;
}

.studychat img,
.blackuser_img img,
.follow_img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.studychat_info,
.blackuser_info,
.follow_info {
    line-height: 18px;
}

.studychat_info p:first-child,
.blackuser_info p:first-child,
.follow_info a:first-child {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    display:-webkit-box; 
    word-wrap:break-word; 
    -webkit-line-clamp:1; 
    -webkit-box-orient:vertical; 
    overflow:hidden; 
    text-overflow:ellipsis; 
    width: 250px;
}

.studychat_info p:last-child,
.blackuser_info p:last-child,
.follow_info p:last-child {
    font-size: 12px;
    color: rgb(114, 114, 114);
}

.studychat_btn_div,
.blackuser_btn_div,
.followChat {
    position: absolute;
    right: 15px;
}

.studychat_btn_div button,
.blackuser_btn_div button,
.followChat button {
    background-color: var(--maincolor);
    border: none;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 33px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.studychat_btn_div button:hover,
.blackuser_btn_div button:hover,
.followChat button:hover {
    color: white;
    background-color: rgb(15, 144, 183);
}

.ms_count {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 87, 38);
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 15px;
    left: 60px;
    padding: 1px;
    font-size: 12px;
}