.post_list {
    width: 800px;
}

.post {
    margin-bottom: 20px;
    border: 1px solid rgb(182, 182, 182);
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.post_owner {
    position: relative;
    height: 35px;
    display: flex;
    padding: 15px;
}

.post_owner_img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.post_owner_info p:first-child {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.post_owner_info p:last-child {
    font-size: 12px;
    color: rgb(114, 114, 114);
}

.follow_btn_div {
    position: absolute;
    right: 15px;
}

.follow_btn_div button {
    background-color: var(--maincolor);
    border: none;
    border-radius: 5px;
    color: white;
    width: 70px;
    height: 33px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.follow_btn_div button:hover {
    color: white;
    background-color: rgb(15, 144, 183);
}

.post_content {
    display: block;
    min-height: 230px;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.post_title {
    display: block;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
}

.post_content p {
    width: 95%;
    font-size: 17px;
    display:-webkit-box; 
    word-wrap:break-word; 
    -webkit-line-clamp:11; 
    -webkit-box-orient:vertical; 
    overflow:hidden; 
    text-overflow:ellipsis; 
}

.post_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}
.post_img img {
    max-width: 550px;
    border-radius: 5px;
}

.post_createdat {
    padding: 15px;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.post_createdat p {
    color: rgb(156, 156, 156);
    font-size: 14px;
}

.post_reaction_info {
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_reaction_info {
    display: flex;
    align-items: center;
}
.reaction_info_div {
    display: flex;
}
.post_reaction_info p {
    font-size: 13px;
    font-weight: bold;
    color: rgb(94, 94, 94);
}
.post_reaction_info p:not(.like_count) {
    margin-right: 5px;
}

.like_count {
    margin-right: 10px;
}
.like_icon {
    font-size: 15px;
    cursor: pointer;
    color: rgb(255, 101, 101);
    margin-right: 5px;
}