main {
    background-color: rgba(243, 243, 243, 0.863);
    padding-top: 73px;
}

.write-section {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    min-height: 95vh;
    border: 1px solid rgb(226, 226, 226);
}

.post-header {
    display: flex;
    padding: 15px 20px 15px 20px;
    border-bottom:  1px solid rgb(226, 226, 226);
    align-items: center;
    justify-content: space-between;
}

.post-back {
    border: none;
    background:none;
    cursor: pointer;
}

.post-back i {
    font-size: 24px;
}

.post-save {
    background-color: var(--maincolor);
    border: none;
    border-radius: 5px;
    color: white;
    width: 50px;
    height: 30px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.post-save:hover {
    color: white;
    background-color: rgb(15, 144, 183);
}

.post-image-div {
    padding: 15px 20px 15px 20px;
    border-bottom:  1px solid rgb(226, 226, 226);
}

.post-image-div label {
    cursor: pointer;
    color: rgb(103, 103, 103);
    font-size: 20px;
}

.image-input {
    display: none;
}

.post-content {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    padding: 20px 80px 20px 80px;
}

.post-title {
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.post-contents {
    margin-top: 20px;
    border: none;
    width: 100%;
    font-weight: bold;
    resize: none;
}

.image-preview {
    padding: 20px 80px 20px 80px;
}

.post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 5px;
}